

.mt20 {
 margin-top: 20px;
}

.maxwd{
    width: 100%;
}

.bkgGrey{
    background-color: rgba(128, 128, 128, 0.384)
}

.btn img {
    width: 100%;
    hyphens: 300px;
}

@media (max-width: 996px) { 
    .row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}